<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department work</title>
    <link rel="stylesheet" href="otdel-plans.css" >
    <script src="js.js"></script>
</head>
<body>
    <div class="header">
        <p class="header-text">Работы отдела</p>
    </div>
    <div class="main-div">
        <div class="enter-fio-pos">
            <p class="enter-fio">Дополните или удалите информация о работах отдела</p>
        </div>
    </div>
    <div class="footer">
        <p class="footer-text">Иванов Иван Иваныч</p>
    </div>
</body>
</html>